$search-field-height: 33px;
$filter-height: 33px;

.container-clients {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--smooth-color);
  position: relative;
}

.info {
  width: 80%;
}

label {
  margin-bottom: 10px;
}

.centralize {
  margin-bottom: 0px;
  margin-left: 10px;
}

.pre-table {
  width: 80%;
  height: 300px;
  border: 1px solid var(--border-color);
  padding: 10px;
}

.up-table {
  display: flex;
}

.new-client {
  margin-left: 2%;
  width: 15%;
  align-items: center;
  label {
    cursor: pointer;
  }
}


.card {
  position: fixed;
  z-index: 1050;
  top: 20%;
  left: 37%;
}

.table-container {
  height: calc(100% - #{$search-field-height} - #{$filter-height});
  overflow: auto;
}

.pagination {
  margin-top:10px;
  width: 100%;
  padding-right: 15px;
}

:host ::ng-deep {
  .search-field {
    width: 85%;
    .form-input-text-container {
      max-height: $search-field-height;
      height: $search-field-height;

      input {
        font-size: 0.8rem;
      }
    }
  }
}

.search-icon {
  margin-right: 5px;
}

table {
  width: 100%;
  border-spacing: 0;
  tr {
    width: 100%;
    display: grid;
    grid-template-columns: 15% 25% 15% 20% 15% 10%;
    cursor: default;
    padding: 0;
  }
  thead {
    width: calc(100% - 10px);
  }
  tbody {
    width: 100%;
    display: block;
    max-height: 41vh;
    padding: 0;
  }
  thead td {
    color: var(--text-primary);
    padding: 5px 0;
    word-wrap: break-word;
    table-layout: fixed;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid var(--tableline-color);
  }
  tbody td {
    padding: 5px 0;
    border-bottom: 1px solid var(--tableline-color);
    color: var(--tableline-color);
    word-wrap: break-word;
    table-layout: fixed;
    text-align: center;
    vertical-align: middle;
    span {
      cursor: pointer;
    }
    div {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 20px !important;
      button {
        border: none;
        background: transparent;
        color: var(--text-secondary);
      }
    }
  }

  tbody tr {
    &:hover {
      background-color: var(--background-secondary);
    }
  }
}
