<div *ngIf="newClientStatus" id="overlay"></div>
<div class="container-clients">
    <div class="info">
        <app-dell-icon dellStyles="dds__user"></app-dell-icon>
        <label>/</label>
        <label class="active">Client</label>
    </div>
    <div class="pre-table">
        <div class="up-table">
            <div class="search-field">
                <div class="form-input-text-container">
                    <label class="label">Search</label>
                    <input type="text" placeholder="Search text" />
                    <app-dell-icon
                    class="search-icon"
                    dellStyles="dds__search"
                    ></app-dell-icon>
                </div>
            </div>
            <div class="new-client">
                <app-dell-btn
                    class = "test"
                    style="width: 100px"
                    type="primary"
                    [disabled]="false"
                    (onClick)="changeClientStatus()">
                    <app-dell-icon class="test" dellStyles="dds__plus-add"></app-dell-icon>
                    <label class="centralize">
                        New client</label>
                </app-dell-btn>
            </div>

            <div *ngIf= "newClientStatus" class="card dds__card card">
                <div class="dds__card__content">
                  <div class="dds__input-text__container">
                    <label id="text-input-label-421281248" for="text-input-control-name-421281248">Name</label>
                    <div class="dds__input-text__wrapper">
                      <input
                        type="text"
                        class="dds__input-text input"
                        name="text-input-control-name-421281248"
                        id="text-input-control-421281248"
                        required=""
                        aria-labelledby="text-input-label-421281248 text-input-helper-421281248"
                      />
                    </div>
                  </div>
                  <div class="dds__input-text__container">
                    <label id="text-input-label-421281248" for="text-input-control-name-421281248">Email</label>
                    <div class="dds__input-text__wrapper larg-test">
                      <input
                        type="text"
                        class="dds__input-text input"
                        name="text-input-control-name-421281248"
                        id="text-input-control-421281248"
                        required=""
                        aria-labelledby="text-input-label-421281248 text-input-helper-421281248"
                      />
                    </div>
                  </div>
                  <div class="dds__card__action button">
                    <app-dell-btn
                        class="button-card"
                        style="width: 100px"
                        type="primary"
                        [disabled]="false"
                        (onClick)="changeClientStatus()">
                        <label class="centralize-label">
                            Save</label>
                    </app-dell-btn>
                    <app-dell-btn
                        class="button-card"
                        style="width: 100px"
                        type="primary"
                        [disabled]="false"
                        (onClick)="changeClientStatus()">
                        <label class="centralize-label">
                            Cancel</label>
                    </app-dell-btn>
                  </div>
                </div>
              </div>
        </div>

        <div class="table-container">
        <table>
            <thead>
            <tr>
                <td *ngFor="let header of headers" id="header">
                <span>{{ header }}</span>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of filteredItems">
                <td>{{ item.name }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.totalSpend }}</td>
                <td>{{ item.numberPurchases }}</td>
                <td>{{ item.lastPurchaseData }}</td>
                <td> 
                    <span>
                        <app-dell-icon dellStyles="dds__refresh-spin"></app-dell-icon>
                    </span> 
                </td>
            </tr>
            </tbody>
        </table>
        </div>
        <div class="pagination">
            <app-pagination
                [items]="items"
                [fromItem]="fromItem"
                [toItem]="toItem"
                [currentPage]="currentPage"
                [pageSize]="pageSize"
                [changesSubject]="itemsSubject"
                (onPageChanged)="changePage($event)"
                (onItemsPerPageChanged)="changeItemsPerPage($event)"
            ></app-pagination>
        </div>
    </div>
</div>