$search-field-height: 33px;
$filter-height: 33px;

.container-clients {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--smooth-color);
  position: relative;
}

.info {
  width: 90%;

  app-dell-icon {
    padding-top: 2px;
  }
}

label {
  margin-bottom: 10px;
}

.centralize {
  margin-bottom: 0px;
}

.centralize-label {
  margin-bottom: 0px;
  margin-left: 10px;
  cursor: pointer;
}

.pre-table {
  width: 80%;
  height: 300px;
  border: 1px solid var(--border-color);
  padding: 10px;
}

.up-table {
  display: flex;
}

.new-client {
  margin-left: 2%;
  width: 15%;
  align-items: center;
  label {
    cursor: pointer;
  }
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: default;
}

.card {
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: 450px;
  width: 466px;
  background-color: var(--background-primary);
  border: 1px solid #7E7E7E;
  label {
    color: var(--text-secondary);
  }
}

.input {
  width: 100%;
  margin-bottom: 10px;
}

.button-card  {
  display: flex;
  margin: 0;
  color: var(--smooth-color);
}

.button {
  display: flex;
}

input:focus ~ label,
input:valid ~ label {
  position: absolute;
  top: -19px;
  color: green;
  font-size: 13px;
  font-weight: 600;
}
input:focus {
  border: 1px solid green;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.warning {
  border: 1px solid red !important;
}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}
.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}

.table-container {
  height: calc(100% - #{$search-field-height} - #{$filter-height});
  overflow: auto;
}

.pagination {
  margin-top: 10px;
  width: 100%;
  padding-right: 15px;
}

:host ::ng-deep {
  .search-field {
    width: 85%;
    .form-input-text-container {
      max-height: $search-field-height;
      height: $search-field-height;

      input {
        font-size: 0.8rem;
      }
    }
  }
}

.search-icon {
  margin-right: 5px;
}

table {
  width: 100%;
  border-spacing: 0;
  tr {
    width: 100%;
    display: grid;
    grid-template-columns: 15% 25% 15% 20% 15% 10%;
    cursor: default;
    padding: 0;
  }
  thead {
    width: calc(100% - 10px);
  }
  tbody {
    width: 100%;
    display: block;
    max-height: 41vh;
    padding: 0;
  }
  thead td {
    color: var(--text-primary);
    padding: 5px 0;
    word-wrap: break-word;
    table-layout: fixed;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid var(--tableline-color);
  }
  tbody td {
    padding: 5px 0;
    border-bottom: 1px solid var(--tableline-color);
    color: var(--tableline-color);
    word-wrap: break-word;
    table-layout: fixed;
    text-align: center;
    vertical-align: middle;
    span {
      cursor: pointer;
    }
    div {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 20px !important;
      button {
        border: none;
        background: transparent;
        color: var(--text-secondary);
      }
    }
  }

  tbody tr {
    &:hover {
      background-color: var(--background-secondary);
    }
  }
}
