<div *ngIf="newSaleStatus" id="overlay"></div>
<div class="container-sales">
  <div class="info">
    <app-dell-icon dellStyles="dds__cart"></app-dell-icon>
    <label>/</label>
    <label class="active">Sales</label>
  </div>
  <div class="pre-table">
    <div class="up-table">
      <div class="search-field">
        <div class="form-input-text-container">
          <label class="label">Search</label>
          <input type="text" placeholder="Search text" />
          <app-dell-icon
            class="search-icon"
            dellStyles="dds__search"
          ></app-dell-icon>
        </div>
      </div>
      <div class="new-sales">
        <app-dell-btn
          style="width: 100px"
          type="primary"
          [disabled]="false"
          (onClick)="changeSalesStatus()"
        >
          <span class="dds__icons dds__plus-add"></span>
          <label class="centralize"> New Sale</label>
        </app-dell-btn>
      </div>

      <div *ngIf="newSaleStatus" class="card dds__card card">
        <div class="dds__card__content">
          <div class="card-title">
            <span class="dds__icons dds__plus-add"></span>
            <label class="centralize">New Sale</label>
            <span class="dds__icons dds__close-x" style="margin-left: 76%; cursor: pointer;" (click)="changeSalesStatus()"></span>
          </div>
          <div class="dds__input-text__container">
            <div class="input form-input-text-container">
              <label class="label">Item</label>
              <div class="dds__input-text__wrapper">
                <input [(ngModel)]="newSale.item" placeholder="Item"/>
            </div>
              </div>
          </div>
          <div class="dds__input-text__container">
            <div class="form-input-text-container">
              <label class="label">Email</label>
              <div class="dds__input-text__wrapper">
                <input [(ngModel)]="newSale.email" placeholder="Email"/>
            </div>
              </div>
          </div>
          <div style="display: flex; margin: 10px 0px 10px 0px;">
            <div style="flex-grow: 2.5; justify-content:space-between;"></div>
            <div class="dds__card__action button">
                <app-dell-btn
                style="width: 100px"
                type="secondary"
                [disabled]="false"
                (onClick)="changeSalesStatus()"
              >
                <label class="centralize">Cancel</label>
              </app-dell-btn>
              <app-dell-btn
                style="width: 100px"
                type="primary"
                [disabled]="false"
                (onClick)="changeSalesStatus()"
              >
                <label class="centralize" (click)="saveSale()">Save</label>
              </app-dell-btn>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="table-container">
      <table>
        <thead>
          <tr>
            <td *ngFor="let header of headers" id="header">
              <span>{{ header }}</span>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sale of filteredSales">
            <td>{{ sale.name }}</td>
            <td>{{ sale.saleName }}</td>
            <td>{{ sale.purchaseDate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pagination">
      <app-pagination
        [items]="sales"
        [fromItem]="fromSale"
        [toItem]="toSale"
        [currentPage]="currentPage"
        [pageSize]="pageSize"
        [changesSubject]="SalesSubject"
        (onPageChanged)="changePage($event)"
        (onItemsPerPageChanged)="changeItemsPerPage($event)"
      ></app-pagination>
    </div>
  </div>
</div>
