<div class="container-home">
  <div class="info">
    <app-dell-icon dellStyles="dds__user-group-chat"></app-dell-icon>
    <label>/</label>
    <label class="active">Leads</label>
  </div>
  <div class="pre-table">
    <div class="search-field">
      <div class="form-input-text-container">
        <label class="label">Search</label>
        <input type="text" placeholder="Spring" />
        <app-dell-icon
          class="search-icon"
          dellStyles="dds__search"
        ></app-dell-icon>
      </div>
    </div>
    <div class="double-table">
      <div class="table-container1">
        <table>
          <thead>
            <tr>
              <td>
                <span>Name</span>
              </td>
              <td>
                <span>E-mail</span>
              </td>
              <td>
                <span>Page accessed</span>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>config</td>
              <td>test</td>
              <td>config</td>
            </tr>
            <tr>
              <td>config</td>
              <td>test</td>
              <td>config</td>
            </tr>
            <tr>
              <td>config</td>
              <td>test</td>
              <td>config</td>
            </tr>
          </tbody>
        </table>
        <div class="pagination">
          <app-pagination
            [items]="items"
            [fromItem]="fromItem"
            [toItem]="toItem"
            [currentPage]="currentPage"
            [pageSize]="pageSize"
            [changesSubject]="itemsSubject"
            (onPageChanged)="changePage($event)"
            (onItemsPerPageChanged)="changeItemsPerPage($event)"
          ></app-pagination>
        </div>
      </div>
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <td>
                <span>Name</span>
              </td>
              <td>
                <span>Product Name (possible sale)</span>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>config</td>
              <td>test</td>
            </tr>
            <tr>
              <td>config</td>
              <td>test</td>
            </tr>
            <tr>
              <td>config</td>
              <td>test</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
